.content {
	overflow: hidden;
	padding: 10px;
	width: 35%;
}

.content .notification {
	color: #6f7291;
	border: 1px solid #6f7291;
	padding: 10px;
	border-radius: 10px;
	position: relative;
	width: 15%;
	float: left;
	margin-top: 5px;
	text-align: center;
}

.content .notification span {
	display: block;
	position: absolute;
	top: -3px;
	right: -3px;
	width: 10px;
	height: 10px;
	border: 1px solid #fe7448;
	border-radius: 100%;
	background-color: #fe7448;
}

.content .about {
	width: 85%;
	float: left;
	overflow: hidden;
	padding-left: 10px;
	padding-top: 3px;
}

.content .about .image {
	width: 20%;
	float: left;
	margin-right: 4px;
}

.content .about .details {
	width: 78%;
	float: left;
	color: #fff;
	position: relative;
}

.content .about .details h2 {
	font-size: 15px;
	margin-bottom: 1px;
}

.content .about .details p {
	color: #a6a7b3;
	margin-top: 0;
}

.content .about .details i {
	position: absolute;
	top: 10px;
	right: 2px;
}
