#main-nav .alert{
    position: absolute;
width: 51px;
height: 51px;
left: 1085px;
top: 28px;
cursor: pointer;
}
#main-nav .cst-data{
    position: absolute;
width: 227px;
height: 48px;
left: 1157px;
top: 30px;
cursor: pointer;
}

#main-nav .cst-data img {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 0px;
    top: 0px;
}
#main-nav li{
    list-style: none;
    padding: 0;
    margin: 0;
}
#main-nav h3{font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */  
    color: #FFFFFF;
    }